---
permalink: index.html
---
<!doctype html>
<html lang="en">
  <body>
    <a id="component-link" href="/components/widget/">Widget</a>
    <a id="external-link" href="https://example.com/reference">External</a>
    <a id="fragment-link" href="#details">Details</a>
    <img src="/assets/widget.png" alt="Widget preview">
    <script type="module" src="{{ "docs.js" | asset }}"></script>
  </body>
</html>
